
.navbar-light .navbar-brand {
    color: #1b365d
    ;
}

.navbar-light .navbar-brand:hover {
    color: #1b365d;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #1b365d;
}


.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #1b365d;
    border-radius: 0.25rem;
}